//- index.jade
extends ./layout.jade

block nav
  li.s3
    a(href='/', title='Home') Home
  li.s3
    a(href='./test', title='Tests del analizador') Tests
  li.s3
    a(href='/lenguaje', title='Lenguaje') Lenguaje
  li
    a.current(href='/contributors', title='Colaboradores') Colaboradores

block content
  #content
    #autores
      h1 Autores
      ul
        li Alexis López
          ul
            li GitHub: 
              a(href='https://github.com/alu0100204148', title='GitHub') https://github.com/alu0100204148
            li Email: 
              a(href='mailto:alu0100204148@ull.edu.es', title='Email') alu0100204148@ull.edu.es
        li Marcos Luis
          ul
            li GitHub: 
              a(href='https://github.com/alu0100777086', title='GitHub') https://github.com/alu0100777086
            li Email: 
              a(href='mailto:alu0100777086@ull.edu.es', title='Email') alu0100777086@ull.edu.es
        li Sergio González
          ul
            li GitHub: 
              a(href='https://github.com/0100354256', title='GitHub') https://github.com/0100354256
            li Email: 
              a(href='mailto:alu0100354256@ull.edu.es', title='Email') alu0100354256@ull.edu.es

      h2 Coordinador
      ul
        li Alexis López