//- test.jade
extends ./layout.jade

block meta
  script(type='text/x-mathjax-config').
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  script(type='text/javascript', src='http://cdn.mathjax.org/mathjax/latest/MathJax.js')
  script(src='/javascripts/main.js')

block style
  link(href='http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css', media='screen, projection', rel='stylesheet')

block title
  title Lenguaje - Generador de Exámenes

block nav
  li.s3
    a(href='/', title='Home') Home
  li.s3
    a(href='./test', title='Tests del analizador') Tests
  li.s3
    a.current(href='/lenguaje', title='Lenguaje') Lenguaje
  li
    a(href='/contributors', title='Colaboradores') Colaboradores

block content
  #content
    #lenguaje
      h1 Definición
      p Un lenguaje de dominio específico (Domain Specific Language, DSL) es un lenguaje de programación dedicado a resolver un problema en particular, representar un problema específico y proveer una técnica para solucionar una situación particular.
      p En este caso se ha desarrollado un lenguaje para mediante código, generar exámenes personalizados.
      br

      h2 Descripción
      p Título, Fecha, Profesor, Asignatura {
      p.espacio Pregunta [Respuesta, Validez;  Respuesta, Validez;]
      p.espacio Pregunta [Respuesta, Validez;  Respuesta, Validez;  Respuesta, Validez;]
      p };

      h2 Parámetros
      p Se establecen inicialmente las características del examen:
      ul
        li <strong>Título:</strong> Nombre del examen [Tipo string]
        li <strong>Fecha:</strong> Fecha del examen [Formato dd/mm/yyyy]
        li <strong>Profesor:</strong> Profesor que elabora el examen [Tipo string]
        li <strong>Asignatura:</strong> Asignatura del examen [Tipo string]

      p Entre llaves se escribe cada pregunta, y entre corchetes las respuestas separadas por punto y coma:
      ul
        li <strong>Pregunta:</strong> Título de la pregunta [Tipo string]
        li <strong>Respuesta:</strong> Título de la respuesta [Tipo string]
        li <strong>Validez:</strong> Validez de la respuesta [V o F]