//- test.jade
extends ./layout.jade

block style
  link(rel='stylesheet', href='/tests/mocha.css')

block title
  title Test - Generador de Exámenes

block nav
  li.s3
    a(href='/', title='Home') Home
  li.s3
    a.current(href='./test', title='Tests del analizador') Tests
  li.s3
    a(href='/lenguaje', title='Lenguaje') Lenguaje
  li
    a(href='/contributors', title='Colaboradores') Colaboradores

block content
  #content
    #mocha
    |     
    .hiddenTestElements
      textarea#original(autofocus='', cols='80', rows='5')
      | &#x9;&#x9;  
      button#PARSE.mylink(type='button', value='parse') Parse
      br
      |       &#x9;  
      pre#OUTPUT.
        
    |     
    script(src='/tests/chai.js')
    |     
    script(src='/tests/mocha.js')
    |     
    script(src='/tests/sinon-1.13.0.js')
    |     
    script(src='/tests/blanket.js', data-cover-adapter='/tests/mocha-blanket.js')
    |     
    script.
      mocha.setup('tdd')
    |     
    script(src='../js/pl0.js', data-cover='')
    script(src='../js/main.js', data-cover='')
    |     
    script(src='../views/tests.js')
    |     
    script.
      mocha.run();